annotated-types==0.7.0
certifi==2026.1.4
pydantic==2.12.5
pydantic_core==2.41.5
typing-inspection==0.4.2
typing_extensions==4.15.0
wheel==0.46.3
fastapi==0.132.0
uvicorn[standard]
pytest==9.0.2
flake8==7.3.0